body,
html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

p,
span,
strong,
b,
em,
i,
del,
sub,
sup,
ul,
li {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
b,
em,
i,
del,
sub,
sup,
ul,
li {
  margin: 0;
  line-height: 1.5;
}
