@use '../../../assets/scss/functions/px-to-rem.scss' as *;
@use '../../../assets/scss/variables/colors' as *;

.app-dashboard {
  background-color: darken($color-light, 2%);
  min-height: 100vh;
  padding: px-to-rem(20);
}
